<div class="mb-8">
  <h2 class="text-xl mb-4">エリアから探す</h2>
  <div class="flex flex-wrap gap-4">
    <% {
      '渋谷区' => '渋谷',
      '新宿区' => '新宿',
      '世田谷区' => '世田谷',
      '目黒区' => '目黒',
      '港区' => '港',
      '中央区' => '中央',
      '千代田区' => '千代田',
      '台東区' => '台東',
      '文京区' => '文京',
      '豊島区' => '豊島',
      '北区' => '北',
      '荒川区' => '荒川',
      '板橋区' => '板橋',
      '練馬区' => '練馬',
      '足立区' => '足立',
      '葛飾区' => '葛飾',
      '江戸川区' => '江戸川',
      '大田区' => '大田',
      '品川区' => '品川',
      '目黒区' => '目黒',
      '横浜市' => '横浜',
      '川崎市' => '川崎',
      'その他東京都' => ['八王子', '立川', '武蔵野', '三鷹', '青梅', '府中',
                       '昭島', '調布', '町田', '小金井', '小平', '日野',
                       '東村山', '国分寺', '国立', '福生', '狛江', '東大和',
                       '清瀬', '東久留米', '武蔵村山', '多摩', '稲城', '羽村',
                       'あきる野', '西東京'],
      'その他神奈川県' => ['相模原', '横須賀', '平塚', '鎌倉',
                       '藤沢', '小田原', '茅ヶ崎', '逗子', '三浦', '秦野',
                       '厚木', '大和', '伊勢原', '海老名', '座間', '南足柄',
                       '綾瀬']

    }.each do |display_name, search_param| %>
      <% if search_param.is_a?(Array) %>
        <%= link_to display_name,
            shops_path(q: { area_matches_any: search_param }),
            class: "px-4 py-2 rounded-full border hover:bg-gray-100" %>
      <% else %>
        <%= link_to display_name,
            shops_path(q: { area_cont: search_param }),
            class: "px-4 py-2 rounded-full border hover:bg-gray-100" %>
      <% end %>
    <% end %>
  </div>
</div>