<div>
  <h2 class="text-xl mb-4">利用用途から探す</h2>
  <div class="flex flex-wrap gap-4">
    <% [
      'デート', 'ワーク', '一人で', 'みんなで', 'ノンニコチン', 'ダークリーフ'
    ].each do |scene| %>
      <%= link_to scene, shops_path(scene: scene), class: "px-4 py-2 rounded-full border hover:bg-gray-100" %>
    <% end %>
  </div>
</div>