<footer class="flex-shrink-0 h-14 bg-black mt-auto bottom-0">
  <div class="h-full flex items-center justify-center">
    <p class="text-sm text-white">&copy; <%= Time.current.year %> Admin Dashboard</p>
  </div>
</footer>
